*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}
.navbar {
    background-color: #282a2c;
    box-shadow: 0px 0px 9px 7px #0007;
}
.navbar-nav li a {
    float: right;
    color: #fff;
    margin-right: 20px;
    text-shadow: 0px 1px 2px #000;
}
.navbar-brand img {
    width: 120px;
    height: 80px;
    font-size: 40px;
    margin-top: 30px;
    margin-top: 10px;
}
.navbar-toggler {
    margin-right: 20px;
    color: #fff;
    border: none;
}
.navbar-toggler .fa {
    color: #fff;
    font-size: 26px;
}
.nav-link:hover {
    font-weight: 500;
    border-bottom: 1px solid #fff
}
#main {
    height: 500px;
    background-color: #44454a;
    margin-top: 53px;
    padding-top: 120px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px 7px #0007;
    z-index: 20;
}
#main p {
    padding: 10px 0 10px 0;
    text-shadow: 0px 1px 2px #000
}
#jubilaciones {
    background-color: #e8e3e8;
    padding: 20px 20px 20px 20px;
    color: #282a2c;
    z-index: 10;
}
#jubilaciones p {
    font-size: 20px;
}
#abogada {
    background-color: #44454a;
    color: #fff;
    z-index: 30;
    box-shadow: 10px 0px 10px 7px #0007;
    position: relative;
}
#abogada img {
    width: 220px;
    height: 220px;
    margin-top: 30px;
    border: solid 3px #e8e3e8;
    margin-left: 50%;
    transform: translateX(-50%);

}
#abogada h2 {
    text-align: center;
    padding: 20px 0 0px 0;
    text-shadow: 0px 1px 2px #000
}
#abogada h3 {
    text-shadow: 0px 1px 2px #000
}
#abogada div {
    text-shadow: 0px 1px 2px #000
}
#preguntas {
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(/multimedia/fondo.jpg) no-repeat center center fixed;
    color: #fff;
    text-shadow: 0px 1px 2px #000
}
#preguntas h2{
    font-size: 40px;
    padding: 5px 0 20px 0;
    height: 55px;
    margin-top: 20px;
    background-color: rgba(5, 7, 12, 0.75);
}
#preguntas dl {
    background-color: rgba(5, 7, 12, 0.75);
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
#preguntas dt {
    font-size: 25px;
}
#datos {
    background-color: #141414;
    z-index: 12;
    color: #e8e3e8;
    box-shadow: 0px 0px 9px 7px #0007;
    z-index: 15;
}
#datos p {
    text-align: center;
}
#contacto {
    background-color: #44454a;
    padding: 20px 0 20px 0;
    color: #fff;
    z-index: 17;
    box-shadow: 0px 0px 9px 7px #0007;
}
#contacto .card {
    background-color: #717070;
    box-shadow: 0px 0px 9px 7px #0007;
    border-radius: 10px 10px 10px 10px;

}
footer{
    margin-top: auto;
    background-color: #282a2c;
    height: 100px;
    width: 100%;
    box-shadow: 0px 0px 9px 7px #0007;
    z-index: 40;
}
footer p {
    padding-top: 40px;
    color: #e8e3e8;
}
footer i {
    padding-left: 5px;
}
.copy{
    float: left;
    padding: 10px;
    color: white;
}
.copy i{
    font-size: 15px;
    float: left;
}